[Unit]
Description=Manifeed __MANIFEED_DESCRIPTION__
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=__MANIFEED_BINARY__ run --config __MANIFEED_CONFIG__
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
