Package: manifeed-workers-desktop-dbgsym
Source: manifeed-workers
Version: 0.1.3-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Manifeed Maintainers <maintainers@manifeed.local>
Installed-Size: 4964
Depends: manifeed-workers-desktop (= 0.1.3-1)
Section: debug
Priority: optional
Description: debug symbols for manifeed-workers-desktop
Build-Ids: 3325fa8c99099a9316ac75ef6ba29ac65c8df7a7
